html{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: radial-gradient(ellipse at center,rgb(25,200,24),rgb(0,20,0));
    background-attachment: fixed;
    margin: 0%;

}


#table{
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    transform: translateY(-10%);
    width: 80vw;
    height: 70vh;
    background-image: radial-gradient(ellipse at center, rgb(255,0,0),rgb(0,0,0));
    border-radius: 60em;
    border-style: solid;
    border-color: rgb(215,132,75);
    border-width: 0.5em;
    overflow: hidden;
}

#commandes{
    text-align: center;
    margin-top: -6vh;
}

img.carte{
    /*width: 3vw;
    height: 9vh;*/
    width:50px;
    height:73px;
    /*border: rgb(255,255,255) solid 1px;*/
    opacity: 1;
}

footer p{
    font-size: 1.2em;
    color: rgb(255,255,255);
    text-align: center;
}



section{
    width: 100%;
}

#joueur1{
//margin: 20vh 10vw 2vh 10vw;
// margin: 25% 10vw 2vh 10vw;
    margin-top: 4vh;
}

#cartecentral{
//margin: 10vh 0vw 10vh 2.5vw;
    text-align: center;
    margin-top: 8vh;
}



#joueur4{
//margin: 2vh 0vw 0vh 16vw;
    margin-top: 10vh;
    text-align: center;
}

#joueur3{
//margin: -4vh 0vw 0vh 6vw;
    text-align: center;
    margin-top: 10vh;
}

#joueur2{
// margin: 22vh 0vw 0vh 6vw;
    margin-top: 4vh;
}


article{
    display: table-cell;
    width: 33vw;
    height: 100vh;
    padding: 0%;
    box-sizing: border-box;
    table-layout: auto;
}

#gauche{
    text-align:right;
}
#milieu{
    text-align:center;
}
#droite{
    text-align:left;
}
section p{
    margin: 1%;
    color: rgb(255,255,255);
}





.boutton_commande{
    padding: 1.4vw;
    margin: 0% 1.5%;
//border-image: linear-gradient(rgb(150,150,255),rgb(100,255,255));
    background-image: linear-gradient(rgb(200,148,35),rgb(255,225,30));
}

label{
//padding: 1vw;
    margin: 0% 1% 1% 1%;
    color: rgb(246,255,255);
}


#valeur{
    -webkit-appearance: none;
}
#valeur:focus{
    outline: none;
}
#valeur::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px rgb(0,0,0), 0px 0px 1px rgb(13,13,13);
    background: rgb(25,67,145);
    border-radius: 1.3px;
    border: 0.2px solid rgb(1,1,1);
}
#valeur::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgb(0,0,0), 0px 0px 1px rgb(13,13,13);
    border: 1px solid rgb(0,0,0);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgb(255,255,255);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

/*********************  PETITS ECRANS      */
@media screen and (max-width:900px){
    #table{
        box-sizing: border-box;
        width: 95vw;
        margin: 0px 2% 5% 2%;
        transform: translateY(0%);
        overflow: scroll;
        border-radius: 0px;
    }
    p{
        font-size: 0.5em;
    }
    .outil{
        display: block;
    }
}
@media screen and (max-height:600px){
    #table{

        overflow: scroll;
        border-radius: 0px;
    }
    #joueur3{
        margin-top: 1%;
        margin-right: -3%;
    }

    #joueur2{
        margin-top: 1%;
    }
    #cartecentral{
        margin-top: 1%;
    }

    #joueur1{
        margin-top: 1%;
    }
    #joueur7{
        margin-top: 1%;
        margin-left: -3%;
    }

    #joueur8{
        margin-top: 1%;
    }

    img.carte{
        width: 25px;
        height: 36.5px;
    }
    p{
        font-size: 0.5em;
    }

    .outil{
        display: block;
    }

}