body{
    /* background-color: #75acae; */
    background-image: url('../img/fond.jpg');
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: darkgrey;
    text-align: center;
}

.cadreCon{
    text-align: center;
    width: 40%;
    border: solid black 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 15%;
    border-radius: 5px;
}

.cadreCon label{
    display: block;
    /*float: right;*/
}

.cadreCon .erreur{
    font-weight: bold;
}

.joueurs{
    display: inline-block;
    width: 35%;
    float: left;
}

.joueur{
    /* background-color: #5f8d8f;*/
    width: 100%;
    float: left;
    height: 25%;
}

.joueur p{
    text-align: center;
    font-weight: bold;
}

.cartes{
    /* background-color: #75acae; */
    text-align: center;
    font-weight: bold;
   /* margin-bottom: 20px;*/

}

.cartes img{
    height: 100px;

}

.carteBrulees{
    display: inline-block;
    width: 65%;
    float: right;
    text-align: center;

}

.salons{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.salon{
    border: solid black 1px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

.salon .idSalon{
    display: inline-block;
    width: 50%;
    margin-left:5%;
    /* float: left; */
}

.salon .nbJoueur{
    display: inline-block;
    /* float: right; */
}

.salon .bouttonRejoindre{
    display: inline-block;
    margin-left: 10%;
}

.creation{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.cartesJouees{
    display: inline-block;
    width: 65%;
    float: right;
    text-align: center;
    font-weight: bold;
}

.joueurCarteJouees{
    /* background-color: #5f8d8f; */
    width: 100%;
    height: 25%;
}

.erreur{
    color: red;
}


#historique{
    text-align: left;
    padding-left: 3px;
    color: black;
    background-color: white;
    border: solid black 2px;
    height: 150px;
    overflow-y: scroll;
}

#aide {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
/*background-color: rgb(0,0,0);*/
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#aide_contenu{
    background-color: snow;
    color: black;
    width: 80%;
    height: 80%;
    margin: 0 auto 0 auto;
}
#aide_image{
    width: 80%;
    height: auto;
    margin-bottom:10px;
}
#aide_haut {
    text-align: right;
/* padding-right: 30px;*/
    margin-top: 10px;
}
#revelerMain {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
/*background-color: rgb(0,0,0);*/
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#revelerMain_contenu{
    background-color: snow;
    color: black;
    width: 80%;
    height: 80%;
    margin: 0 auto 0 auto;
}
#revelerMain_haut {
    text-align: right;
/* padding-right: 30px;*/
    margin-top: 10px;
}

#selectionJoueur {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
/*background-color: rgb(0,0,0);*/
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#selectionJoueur_contenu{
    background-color: snow;
    color: black;
    width: 80%;
    height: 80%;
    margin: 0 auto 0 auto;
}
#selectionCarte {
     display: none;
     position: fixed;
     text-align: center;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
 /*background-color: rgb(0,0,0);*/
     background-color: rgba(0,0,0,0.4);
     color: white;
 }
#selectionCarte_contenu{
    background-color: snow;
    color: black;
    width: 80%;
    height: 80%;
    margin: 0 auto 0 auto;
}