body{
    background-color: #75acae;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: darkgrey;
    text-align: center;
}

.joueurs{
    display: inline-block;
    width: 35%;
    float: left;
}

.joueur{
    background-color: #5f8d8f;
    width: 100%;
    float: left;
    height: 25%;
}

.joueur p{
    text-align: center;
}

.cartes{
    background-color: #75acae;
    text-align: center;
   /* margin-bottom: 20px;*/

}

.cartes img{
    height: 100px;
}

.carteBrulees{
    display: inline-block;
    width: 65%;
    float: right;
    text-align: center;

}

.salons{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.salon{
    border: solid black 1px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
}

.salon .idSalon{
    display: inline-block;
    width: 50%;
    margin-left:5%;
    /* float: left; */
}

.salon .nbJoueur{
    display: inline-block;
    /* float: right; */
}

.salon .bouttonRejoindre{
    display: inline-block;
    margin-left: 10%;
}

.creation{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.cartesJouees{
    display: inline-block;
    width: 65%;
    float: right;
    text-align: center;
}

.joueurCarteJouees{
    background-color: #5f8d8f;
    width: 100%;
    height: 25%;
}

.erreur{
    color: red;
}


#historique{
    text-align: left;
    padding-left: 3px;
    color: black;
    background-color: white;
    border: solid black 2px;
    height: 200px;
    overflow-y: scroll;
}